.App {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

.todo-item-text {
  padding: 5px 10px;
  overflow-wrap: break-word;
}

button.vertical-margin {
  margin: 0 5px;
}

button {
  max-height: 38px;
}

.todo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
